<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title>Lista contatti</title>
</head>
<body>
    <h1>Spring Rubrica</h1>

    <div class="container">
        <div>
            <a th:href="@{/new}" class="btn btn-primary">Nuovo contatto</a>
        </div>
    
        <header class="my-2">
            <h2 class="mb-4 text-center">Lista contatti</h2>
        </header>
    
        <div>
            <table class="table table-dark table-striped table-bordered table-hover">
                <thead class="table-primary">
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Dettagli</th>
                </thead>
                <tbody>
                    <tr th:each="c : ${contacts}">
                        <td th:text="${c.name}"></td>
                        <td th:text="${c.surname}"></td>
                        <td th:text="${c.phone}"></td>
                        <td th:text="${c.email}"></td>
    
                        <!-- operazioni sui contatti -->
                        <td>
                            <a th:href="@{'/contact/delete/'+${c.id}}" method="delete" class="btn btn-danger">Elimina</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <p th:if="${#lists.isEmpty(contacts)}"> 
            Nessun contatto presente
        </p>
    </div>

    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>